/* Font Embedded */
@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXONFootballGothicLA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicLA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXONFootballGothicBA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
   /* Color */
   --color-white: #ffffff;
   --color-dark-white: #f1f1f3;
   --color-light-grey: #dadada;
   --color-mideum-grey: #b6b6b6;
   --color-grey: #8b8b8b;
   --color-dark-grey: #666666;
   --color-black: #000000;
   --color-mint: #28c6a2;
   --color-yellow: #fffb87;
   --color-powder-red: #e57a7a;
   --color-powder-orange: #ffbe97;
   --color-powder-blue: #89b8ce;
   --color-powder-yellow: #d6cd8b;
   --color-powder-purple: #94a4bd;
   --color-powder-mint: #4dc2a5;

   /* size */
   --size-Xlarge: 40px;
   --size-large: 35px;
   --size-tall: 30px;
   --size-small-tall: 24px;
   --size-medium: 22px;
   --size-small-medium: 18px;
   --size-big-regular: 14px;
   --size-regular: 12px;
   --size-small: 10px;
   --size-micro: 8px;

   /* Layout Interval */
   --base-15: 15px;
}

/* CSS Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video {margin: 0; padding: 0;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

ul, ol ,li {list-style: none;}
img,fieldset,iframe,abbr,button {border: 0;}
table {border-spacing: 0; border: 0;}
table img {vertical-align: middle;}
img {vertical-align: middle; border: 0; padding: 0;}
li img, dd img {vertical-align: top; }
input, select, textarea, button  {font-size: 100%; vertical-align: middle; color: var(--color-dark-grey); font-size: var(--size-regular); letter-spacing: -0.5px;}
address, caption, cite, code, em {font-style: normal; font-weight: normal;}
caption, legend {visibility: hidden; width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden;}
button {cursor: pointer; background: none; color:var(--color-dark-grey)}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
address,strong {font-style: normal; font-weight: normal;}

/* Universal tag */
* {text-align: center; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
html {width: 100%; height: 100%;}
body {position: relative; display: inline-block; width: 100%; height: 100%; margin:0 auto; font-size: var(--size-regular); font-family: 'paybooc-Medium'; line-height: var(--size-small-medium); letter-spacing: -0.5px; color:var(--color-dark-grey);}
a {display: flex; justify-content: center; align-items: center; text-decoration:none; color:var(--color-dark-grey)}

/* Common Layout */
.whole_container {display: flex; flex-direction: column; justify-content: center; align-items: center; min-width: 280px;}
.width_1200_box {max-width: 1200px; margin: 0 auto; padding: var(--base-15);}
section {width: 100%; margin: var(--base-15);}

/* Common Text */
.fw_bold {font-weight: bolder;}
.fw_light {font-weight: lighter;}
.hidden_text {overflow: hidden; position: absolute; width: 0; height: 0; z-index: -1;}

/* Common Scrollbar */
body::-webkit-scrollbar {width: 12px;}
body::-webkit-scrollbar-track {background: var(--color-white);}
body::-webkit-scrollbar-thumb {background-color: var(--color-light-grey);border-radius: 20px;border: 3px solid var(--color-white);}

/* Common Logo */
.logo {font-size: var(--size-large); font-weight: normal; font-family: 'NEXONFootballGothicBA1';}
.logo a {width: calc(var(--size-large)*7); height: var(--size-large);}
.logo span:nth-child(1) {color: var(--color-powder-red);}
.logo span:nth-child(3) {color: var(--color-powder-orange);}
.logo span:nth-child(5) {color: var(--color-powder-blue);}
.logo span:nth-child(7) {color: var(--color-powder-yellow);}
.logo span:nth-child(9) {color: var(--color-powder-purple);}
.logo span:nth-child(11) {color: var(--color-powder-mint);}
.logo span:nth-child(3), .logo span:nth-child(9) {margin-right: 8px;}

/* Common Skip Menu */
.skip_menu {position: absolute; top: 0; transform: translateY(-100%);}
.skip_menu:focus {width: 100%; padding: var(--base-15); background: var(--color-white); transform: translateY(0); transition: .5s;}

/* Common Header*/
header {margin: var(--base-15) 0;}
header .logo {margin-top: var(--size-small-medium);}
header p {margin-top: var(--size-small);}

/* Common GNB  */
.gnb {display: flex; align-items: center; position: sticky; top: 0; width: 100%; height: 40px; background: linear-gradient(90deg, var(--color-yellow) -25%, var(--color-mint) 50%, var(--color-yellow) 125%); z-index: 1;}
.gnb ul {display: flex; justify-content: space-evenly; align-items: center; width: 100%;}
.gnb ul li a {position: relative; width: 46px; height: 40px; font-size: var(--size-big-regular); color: var(--color-white);}
.gnb ul li a::after {display: none; content: "Home"; position: absolute; bottom: -33px; padding: 5px 10px; font-size: var(--size-regular); border-radius: 5px; background: var(--color-white); color: var(--color-mint);}
.gnb ul li a::before {display: none; content: "▲"; position: absolute; bottom: -10px; font-size: var(--size-medium);}
.gnb ul li i {font-size: var(--size-medium);}
.gnb ul li:nth-child(4) i, .gnb ul li:nth-child(5) i {font-size: var(--size-small-tall);}
.gnb ul li:nth-child(4) i {margin-top: -2px;}
.gnb ul li:nth-child(5) i {margin-top: 2px; margin-right: -2px;}
.gnb ul li:nth-of-type(1):hover a::after {display: block; content: "Home";}
.gnb ul li:nth-of-type(2):hover a::after {display: block; content: "About";}
.gnb ul li:nth-of-type(3):hover a::after {display: block; content: "Portfolio";}
.gnb ul li:nth-of-type(4):hover a::after {display: block; content: "Contact";}
.gnb ul li:nth-of-type(5):hover a::after {display: block; content: "Blog";}
.gnb ul li:nth-of-type(6):hover a::after {display: block; content: "Resume";}
.gnb ul li:hover a::before {display: block;}

/* Commom Footer */
footer {position: relative; width: 100%;}
footer::after {display: block; content: ""; position: absolute; top: 0; width: 100%; height: calc(var(--size-large)*4); border-top-left-radius: 50%; border-top-right-radius: 50%; background: var(--color-dark-white); z-index: -1;}
footer::before {display: block; content: ""; position: absolute; bottom: 0; width: 100%; height: calc(100% - (var(--size-large)*4)); background: var(--color-dark-white); z-index: -1;}
.notification {padding: var(--size-medium) 0 var(--size-medium) 0;}
.notification .logo {display: inline-block; width: auto;}
.notification .logo .favicon {display: inline-block; width: var(--size-medium); height: var(--size-medium); background: url(../img/favicon.png) center / contain no-repeat;}
.notification .logo a {height: var(--size-medium); margin: var(--size-regular) 0; font-size: var(--size-medium);}
.contact_list {display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap;}
.contact_list li {display: flex; align-content: center; margin: 0 var(--size-regular) var(--base-15) 0; font-size: var(--size-regular);}
.contact_list li i {margin: 0 var(--size-micro); font-size: var(--size-small-medium);}
.contact_list li:nth-of-type(1) i {color: var(--color-powder-red)}
.contact_list li:nth-of-type(2) i {color: var(--color-powder-mint)}
.contact_list li:nth-of-type(3) i {color: var(--color-powder-blue)}
.copyright {width: 100%; padding-top: var(--base-15); border-top: 1px solid var(--color-light-grey);}

/* Media Start */
@media screen and (min-width: 400px) {
  .contact_list {flex-direction: row;}
}
@media screen and (min-width: 800px) {
  .gnb ul {width: 768px; margin: 0 auto;}
  .gnb ul li {display: flex; align-items: center;}
  .gnb ul li a {width: auto; height: 30px; padding: 10px; border-radius: 5px;}
  .gnb ul li a .hidden_text {display: flex; overflow: auto; position: unset ; width: auto; height: auto; text-indent: unset; z-index: 0}
  .gnb ul li:nth-of-type(6) a {border: 1px solid var(--color-white);}
  .gnb i {display: none;}
  .gnb ul li:nth-of-type(6) i {display: block; margin-left: 5px; font-size: var(--size-big-regular);}
  .gnb ul li a::after {display: block; content: ""; position: absolute; bottom: -5px; width: 100%; height: 3px; padding: 0;  background: var(--color-white); transition: transform .3s; transform: scale(0);}
  .gnb ul li:nth-of-type(1):hover a::after {content: ""; transform: scale(1);}
  .gnb ul li:nth-of-type(2):hover a::after {content: ""; transform: scale(1);}
  .gnb ul li:nth-of-type(3):hover a::after {content: ""; transform: scale(1);}
  .gnb ul li:nth-of-type(4):hover a::after {content: ""; transform: scale(1);}
  .gnb ul li:nth-of-type(5):hover a::after {content: ""; transform: scale(1);}
  .gnb ul li:nth-of-type(6):hover a::after {content: "";}
  .gnb ul li:nth-of-type(6):hover a {background: var(--color-white); color: var(--color-mint);}
  .gnb ul li:nth-of-type(6):active a {transform: scale(0.96);}
  .gnb ul li:hover a::before {display: none;}
  .contact_list {flex-direction: row;}
}
@media screen and (min-width: 1200px) {
  :root {
    /* Font size */
    --size-Xlarge: 60px;
    --size-large: 45px;
    --size-tall: 40px;
    --size-small-tall: 26px;
    --size-medium: 24px;
    --size-small-medium: 22px;
    --size-big-regular: 15px;
    --size-regular: 14px;
    --size-small: 12px;
    --size-micro: 8px;
 }
 footer {overflow: hidden;}
 footer::after {height: calc(var(--size-large)*15);}
 footer::before {display: none}
}