@font-face {
  font-family: 'UhBeemysen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

/* Contact Container*/
.whole_container {background: url(../img/contact_bg.jpg) top / cover no-repeat; background-attachment: fixed; z-index: -1;}
.png_bg {width: 100%; height: 100%; display: flex; justify-content: center; background: url(../img/contact_bg2.png) center / cover no-repeat;}

/* Contact Section */
.contact {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; max-width: 600px; width: 100%; height: auto; margin: var(--size-medium) 0; padding: var(--padding-mobile);}
.contact .section_title {position: relative; color: var(--color-mint); margin-bottom: 10px; font-size: var(--size-Xlarge); font-family: 'UhBeemysen'; font-weight: normal; transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: .3s; animation-fill-mode: both;}
/*  -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); */
.contact .section_description {transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: .6s; animation-fill-mode: both;}
@keyframes visibletitle {from {transform: translateY(50px); opacity: 0;} to {transform: translateY(0px); opacity: 1;}}


/* Contact Form */
.contact form {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; width: 100%;}
.contact form fieldset {width: 100%;}
.contact form .input_box, .contact form .message_input {display: flex; justify-content: center; align-items: center; margin-bottom: var(--base-15); width: 100%; border-radius: 10px; background: var(--color-white); box-shadow: 0px 2px 2px rgba(175, 175, 175, 0.466);}
.contact form .input_box:focus-within, .contact form .message_input:focus-within {outline: auto  2px var(--color-powder-orange);}
.contact form .input_box:nth-child(1) {transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: .9s; animation-fill-mode: both;}
.contact form .input_box:nth-child(2) {transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: 1.2s; animation-fill-mode: both;}
.contact form .input_box:nth-child(3) {transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: 1.5s; animation-fill-mode: both;}
.contact form .input_box:nth-child(4) {transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: 1.8s; animation-fill-mode: both;}
.contact form .message_input {max-width: 600px; height: 202px; transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: 2.1s; animation-fill-mode: both;}
.contact_form input, .contact_form textarea {order: 2; padding: var(--size-regular) var(--size-regular) var(--size-regular) 0; font-family: 'paybooc-Medium'; text-align: left; border: none; border-radius: 10px;}
.contact_form input {width: 100%;}
.contact_form textarea {width: calc(100% - 40px); height: 200px;}
.contact_form label {font-size: var(--size-big-regular); color: var(--color-mint); margin: var(--size-regular); transform: translateY(1px);}
.contact form .message_input label {align-self: flex-start;}
.contact_form input::placeholder, .contact_form textarea::placeholder {color: var(--color-light-grey);}
.contact_form input:focus, .contact_form textarea:focus {outline: none;}
.contact_form input:focus+label, .contact_form textarea:focus+label {color: var(--color-powder-orange);}
.contact form .btn {height: var(--size-Xlarge); font-size: var(--size-regular); border: none; background: var(--color-white); box-shadow: 0px 2px 2px rgba(175, 175, 175, 0.466); color: var(--color-mint); transform: translateY(50px); opacity: 0; animation: visibletitle .5s linear; animation-delay: 2.4s; animation-fill-mode: both;}
.contact form .btn::before {display: none;}

/* Contact Sprite */
.sprite_flower {display: inline-block; position: absolute; top: -20px; right: -50px;  width: calc(600px/10); height: calc(120px/2); background: url(../img/contact_sprite.png); transform: scale(0.5); animation: flower_x 1s steps(10) infinite, flower_y 2s steps(2) infinite;}
@keyframes flower_x {from {background-position-x: 0px;} to {background-position-x: -600px;}}
@keyframes flower_y {from {background-position-y: 0px;} to {background-position-y: -120px;}}

/* Contact Footer */
footer .bg {background: var(--color-white);}

@media screen and (min-width: 600px) {
  .contact form .info_input {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;}
  .contact form .input_box {width: calc(50% - 6px);}
  .contact form .input_box:nth-of-type(1) {margin-right: 6px;}
  .contact form .input_box:nth-of-type(2) {margin-left: 6px;}
  .contact form .input_box:nth-of-type(3) {margin-right: 6px;}
  .contact form .input_box:nth-of-type(4) {margin-left: 6px;}
  .contact form .btn {height: 45px; border-radius: 50px;}
  .contact form .btn span {border-radius: 50px;}
}

@media screen and (min-width: 1200px) {
  .contact {height: 65vh;}
  .contact .section_title {margin-top: 140px; margin-bottom: 0px;}
  .contact .section_description {margin: 30px 0;}
  .contact_form textarea {width: calc(100% - 45px);}
  .sprite_flower {top: -18px; right: -55px; transform: scale(0.7);}
  footer .bg, footer .width_1200_box {margin-top: 130px; transform: translateY(0%);}
}